@media screen and (max-width: 1080px) {
  .bank-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .bank-container .section {
    display: grid;
    width: 100%;
    margin-top: 2rem;
    position: relative;
  }

  .bank-container .section .form {
    font-size: 22px;
    font-weight: 800;
    margin-left: 8px;
    margin-right: 50px;
    margin-top: 1rem;
    margin-bottom: -1rem;
    color: #332117 !important;
    white-space: nowrap;
  }

  .Botao-submit-bankAccount .MuiButton-root {
    width: 100%;
    position: relative;
    display: flex;
  }
}

@media screen and (min-width: 1080px) {
  .bank-container {
    display: flex;
    flex-direction: flex-end;
  }

  .bank-container .section {
    display: grid;
    width: 100%;
    margin: 2rem;
  }

  .bank-container .section .form {
    width: 100%;
    display: inherit;
    grid-template-columns: 1fr 1fr;
  }

  .Botao-submit-bankAccount {
    margin: auto;
  }
}
