@media screen and (max-width: 768px) {
  .dash-section {
    display: flex;
    flex-direction: column;
  }

  .filiados-section {
    margin: 3rem;
  }

  .filiados {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
  }

  .filiados-box {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lotation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 3rem;
    align-items: flex-end;
  }

  .donut-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .filiacoes {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
  }

  .filiacoes-box {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10rem;
    height: 10rem;
    border: 10px solid #ae883c;
    border-radius: 5rem;
    margin-top: 1rem;
  }

  .donut-box {
    width: 100%;
    width: 15rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .dash-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .filiados-section {
    margin: 3rem;
    width: 100%;
  }

  .filiados {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    margin: inherit;
  }

  .filiados-box {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lotation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: flex-end;
  }

  .donut-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .filiacoes {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
  }

  .filiacoes-box {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10rem;
    height: 10rem;
    border: 10px solid #ae883c;
    border-radius: 5rem;
    margin-top: 1rem;
  }

  .donut-box {
    width: 100%;
    width: 14rem;
  }
}

@media screen and (min-width: 1080px) {
  .dash-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
  }

  .filiados-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
  }

  .filiados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: inherit;
  }

  .filiados-box {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lotation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 3rem;
    align-items: flex-end;
  }

  .donut-box {
    display: flex;
    margin: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .filiacoes {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
  }

  .filiacoes-box {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10rem;
    height: 10rem;
    border: 10px solid #ae883c;
    border-radius: 5rem;
    margin-top: 1rem;
  }

  .donut-box {
    width: 100%;
    width: 20rem;
  }
}
