.container {
    display:flex;
}

.forms-container{
    margin: 3.5rem;
    width: 100%;
    
    display: inherit;
    justify-content: center;
    flex-direction: column;
}

.section-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.double-box{
    display: grid;
    grid-template-columns: 2.3fr .7fr;
}

h1{
    font-weight: 800;
    margin-bottom: 3rem;
}

h3{
    font-weight: 400;
    margin-left: 1rem;
    margin-top: 3rem;
}

#addDependentBttn{
    cursor: pointer
}