@media screen and (max-width: 1080px) {
  .bar-container {
    display: none;
  }

  .forms-container-supplier {
    margin: 1rem;
    width: 90%;
    display: inherit;
    justify-content: center;
    flex-direction: column;
  }

  .forms-container-supplier h1 {
    font-size: 22px;
    font-weight: 800;
    margin-left: 8px;
    margin-right: 50px;
    margin-top: 1rem;
    margin-bottom: -1rem;
    color: #332117 !important;
    white-space: nowrap;
  }

  .forms-container-supplier h3 {
    font-size: 24px;
    font-weight: 400;
    margin-left: 1rem;
    margin-top: 3rem;
  }

  .db-supplier {
    display: grid;
    justify-content: start;
    grid-template-columns: 1fr;
    margin: 0;
  }

  .double-box-supplier {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
  }

  .container {
    display: flex;
  }

  label {
    color: #332117 !important;
  }

  .forms-container {
    margin: 1rem;
    width: 90%;
    display: inherit;
    justify-content: center;
    flex-direction: column;
  }

  .forms-container button {
    width: 100%;
  }

  .double-box {
    display: inherit;
    justify-content: center;
    flex-direction: column;
  }

  .forms-container-supplier button {
    width: 95%;
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 1081px) {
  .bar-container {
    display: flex;
    height: 100%;
    position: fixed;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .forms-container-supplier {
    margin: 1rem;
    width: 90%;
    display: inherit;
    justify-content: center;
    flex-direction: column;
  }

  .forms-container-supplier h1 {
    font-size: 34px;
    font-weight: 800;
    margin-bottom: -0.5rem;
  }

  .forms-container-supplier h3 {
    font-size: 24px;
    font-weight: 400;
    margin-left: 1rem;
    margin-top: 3rem;
  }

  .forms-container button {
    width: 100%;
  }

  .section-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .db-supplier {
    display: grid;
    justify-content: start;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  /*cidade-uf*/
  .double-box-supplier {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
  }

  .forms-container-supplier button {
    width: 98.5%;
    margin-left: 0.5rem;
    margin-top: 1rem;
  }
}
