@media screen and (max-width: 1080px) {
  .bar-container {
    display: flex;
  }

  .container {
    display: flex;
  }

  .label {
    color: #332117 !important;
  }

  .forms-container {
    margin: 1rem;
    margin-top: 56rem; /*altura do inicio*/
    width: 90%;
    display: inherit;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
  }

  .forms-container h1 {
    margin-bottom: 1rem;
    margin-left: -2rem;
  }

  .forms-container h3 {
    margin-top: 0;
  }

  .forms-container button {
    width: 100%;
  }

  .search-box {
    display: contents;
    grid-template-columns: 0.5fr 0.5fr;
  }

  .double-box {
    display: inherit;
    justify-content: center;
    flex-direction: column;
  }

  h1 {
    font-weight: 800;
    margin-bottom: 3rem;
    color: #332117 !important;
  }

  h3 {
    font-weight: 400;
    margin-left: 1rem;
    margin-top: 3rem;
    color: #332117 !important;
  }

  .list-item {
    color: #332117 !important;
    margin-bottom: 1rem;
  }

  .file-upload-container {
    flex-direction: column; /* Muda para coluna em telas menores */
    align-items: flex-start; /* Alinha os itens ao início */
    padding: 0.2rem; /* Ajusta o padding para mais espaço */
    margin-top: 0.5rem; /* Reduz o espaço superior */
    margin-right: 0.5rem; /* Ajusta a margem direita */
    margin-left: 0.5rem; /* Ajusta a margem esquerda */
    border-radius: 5px;
    background-color: #eae3d7;
  }

  .change-file-logotipo {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 0.5rem;
  }

  .logotipo-name {
    font-size: 12px;
    color: #000000;
    margin-bottom: 1rem;
  }
  .file-input {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1081px) {
  .bar-container {
    display: flex;
    height: 100%;
    position: fixed;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .forms-container {
    margin: 1rem;
    width: 90%;

    display: inherit;
    justify-content: center;
    flex-direction: column;
  }

  .forms-container button {
    width: 100%;
  }

  .section-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .double-box {
    display: grid;
    grid-template-columns: 2.3fr 0.7fr;
  }

  h1 {
    font-weight: 800;
    margin-bottom: 3rem;
  }

  h3 {
    font-weight: 400;
    margin-left: 1rem;
    margin-top: 3rem;
  }

  #envio {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .profile-status {
    font-size: 18px;
    font-weight: 600;
    font-size: medium;
    margin-left: 8rem;
    margin-top: 12rem;
    color: #341f14;
  }

  .side-menu {
    position: relative;
  }

  .file-upload-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem;
    border-radius: 5px;
    background-color: #eae3d7;
    margin-top: 0.7rem;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
  }

  .change-file-logotipo {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 0.5rem;
  }

  .logotipo-name {
    font-size: 12px;
    color: #000000;
    margin-bottom: 1rem;
  }
  .file-input {
    margin-left: 2rem;
  }
}
