.formData-container {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  width: 100%;
  height: max-content;
}

.personal-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
}

/* .personal-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
} */

.double-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 1rem;
}

.triple-field {
  display: grid;
  grid-template-columns: 5fr 4fr 1fr;
  width: 100%;
  gap: 0.5rem;
}
