@media screen and (max-width: 1080px) {

    
    .bar-container{
        display: none;
    }
    
    .container {
        display:flex;
    }
    label{
        color: #332117;
    }
    .forms-container{
        margin: 1rem;
        width: 90%;
        
        display: inherit;
        justify-content: center;
        flex-direction: column;
    }

    .teste{
        margin: 2rem;
        width: 50%;
        
        display: inherit;
        justify-content: center;
        flex-direction: column;
    }
    
    .section-form{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .double-box{
        display: contents;
        grid-template-columns: 0.5fr .5fr;

    }
    .double-buttons{
        display: contents;
        grid-template-columns: 0.5fr .3fr;
    }
    .ToggleButton button{
        display: inherit;
        width: 100%;
        color: #332117;
        background-color: #EAE3D7;
    }

    h1{
        font-weight: 800;
        margin-bottom: 3rem;
        color: #332117;
    }
    
    h3{
        font-weight: 400;
        margin-left: 1rem;
        margin-top: 3rem;
        color: #332117;
    }
    
    #addDependentBttn{
        cursor: pointer
    }
}

@media screen and (min-width:700px){
    .container {
        display:flex;
    }
    
    .forms-container{
        margin: 3.5rem;
        width: 90%;
        
        display: inherit;
        justify-content: center;
        flex-direction: column;
    }
    
    .section-form{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    label{

        color: #332117;
    }

    .teste{
        margin: 1rem;
        width: 70%;
        
        display: inherit;
        justify-content: safe;
        flex-direction: column;
    }
    
    .double-buttons {
        display: flex;
        justify-content: space-between; /* Distribui os botões igualmente no espaço disponível */
        align-items: end; /* Alinha os botões verticalmente */
        gap: 20px;
    }
    
    
    .double-buttons button {
        flex: 1; /* Faz com que os botões ocupem o espaço disponível igualmente */
        height: 40px;
    }
    
    .ToggleButton button{
        display: inherit;
        width: 100%;
        background-color: #EAE3D7;
    }



    h1{
        font-weight: 800;
        margin-bottom: 3rem;
        color: #332117;
    }
    
    h3{
        font-weight: 400;
        margin-left: 1rem;
        margin-top: 3rem;
        color: #332117;
    }
    
    #addDependentBttn{
        cursor: pointer
    }
}