@media screen and (max-width: 1080px) {
  .listContainer {
    display: flex;
  }

  .list {
    display: block;
    width: 100%;

    margin: 3rem;
  }

  .header {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .search {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .edit-buttons {
    display: flex;
    justify-content: center;
    height: 5rem;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }
}

@media screen and (min-width: 1081px) {
  .listContainer {
    display: flex;
  }

  .list {
    display: block;
    width: 100%;

    margin: 3rem;
  }

  .header {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .search {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .edit-buttons {
    display: flex;
    justify-content: space-between;
    height: 2rem;
  }
}
