@media screen and (max-width: 1080px) {
    .bar-container {
      display: none;
    }
  
    .container {
      display: flex;
    }
  
    label {
      color: #332117 !important;
    }
  
    .forms-container {
      margin: 1rem;
      width: 90%;
      display: inherit;
      justify-content: center;
      flex-direction: column;
    }
  
    .forms-container button {
      width: 100%;
    }
  
    .search-box {
      display: contents;
      grid-template-columns: 0.5fr 0.5fr;
    }
  
    .double-box {
      display: inherit;
      justify-content: center;
      flex-direction: column;
    }
  
    h1 {
      font-weight: 800;
      margin-bottom: 3rem;
      color: #332117 !important;
    }
  
    h3 {
      font-weight: 400;
      margin-left: 1rem;
      margin-top: 3rem;
      color: #332117 !important;
    }
  
    .list-item {
      color: #332117 !important;
      margin-bottom: 1rem; /* Ajusta o espaçamento entre os itens */
    }
  }
  
  @media screen and (min-width: 1081px) {
    .bar-container {
      display: flex;
      height: 100%;
      position: fixed;
    }
  
    .container {
      display: flex;
      flex-direction: row;
    }
  
    .forms-container {
      margin: 1rem;
      width: 90%;
  
      display: inherit;
      justify-content: center;
      flex-direction: column;
    }
  
    .forms-container button {
      width: 100%;
    }
  
    .section-form {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    .double-box {
      display: grid;
      grid-template-columns: 2.3fr 0.7fr;
    }
  
    h1 {
      font-weight: 800;
      margin-bottom: 3rem;
    }
  
    h3 {
      font-weight: 400;
      margin-left: 1rem;
      margin-top: 3rem;
    }
  
    #envio {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .profile-status {
      font-size: 18px;
      font-weight: 600;
      font-size: medium;
      margin-left: 8rem;
      margin-top: 12rem;
      color: #341f14;
    }
  
    .side-menu {
      position: relative;
    }
  }