@media screen and (max-width: 1080px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  label {
    color: #332117 !important;
  }
  .forms-container {
    display: grid;
    margin: 1vw;
    justify-content: center;
    flex-direction: column;
  }
  .perfil-radiogroup {
    margin: 10vw;
  }
  .double-box-fin {
    display: contents;
    grid-template-columns: 0.5fr 0.5fr;
  }
  .double-buttons-mov button {
    flex: 1; /* Faz com que os botões ocupem o espaço disponível igualmente */
    margin-top: 0;
    margin-bottom: 0.7rem;
    height: 40px;
  }

  .forms-container > h1 {
    font-weight: 800;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    color: #332117 !important;
    margin-left: -3px !important;
  }

  .forms-container h3 {
    font-weight: 400;
    margin-left: 1rem;
    margin-top: 3rem;
    color: #332117 !important;
  }

  .descricao-countUpdate {
    margin-bottom: 12px;
    margin-left: 13px;
    font-size: 0.885rem;
    color: #332117;
  }
}

@media screen and (max-width: 500px) {
  .container {
    display: grid;
  }
}

@media screen and (min-width: 700px) {
  .container {
    display: flex;
  }
  .profile-status {
    font-size: 18px;
    font-weight: 600;
    font-size: medium;
    margin-left: 8rem;
    margin-top: 12rem;
  }
  .forms-container {
    margin: 5rem;
    width: 100%;
    display: inherit;
    justify-content: center;

    flex-direction: column;
  }

  .perfil-radiogroup {
    margin: 2vw;
  }
  .forms-container button {
    width: 98%;
    align-self: center;
  }

  .double-box-fin {
    display: grid;
    justify-content: start;
    grid-template-columns: 0.5fr 0.5fr;
    margin: 0;
  }

  label {
    color: #332117 !important;
  }

  h1 {
    font-weight: 800;
    margin-bottom: 3rem;
    color: #332117 !important;
  }

  h3 {
    font-weight: 400;
    margin-left: 1rem;
    margin-top: 3rem;
    color: #332117 !important;
  }
  .isEmailValid {
    font-weight: 400;
    margin-left: 1rem;
    margin-top: 10px;
    color: red !important;
  }

  .double-buttons-mov {
    display: flex;
    justify-content: space-between; /* Distribui os botões igualmente no espaço disponível */
    align-items: end; /* Alinha os botões verticalmente */
    gap: 20px;
  }

  .double-buttons-mov button {
    flex: 1; /* Faz com que os botões ocupem o espaço disponível igualmente */
    margin-top: 0;
    margin-bottom: 0;
    height: 40px;
  }

  .descricao-countUpdate {
    margin-bottom: 12px;
    margin-left: 13px;
    font-size: 0.885rem;
    color: #332117;
  }
}
