@media screen and (max-width: 1080px) {
  .bar-container-financialUpdate {
    display: grid;
  }

  .financialUpdate-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  label {
    color: #332117 !important;
  }

  .financialUpdate-forms-container {
    margin: 1rem;
    width: 90%;
    display: inherit;
    justify-content: center;
    flex-direction: column;
  }

  .financialUpdate-section-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  .double-buttons {
    display: contents;
    width: 100%;
    grid-template-columns: 0.5fr 0.3fr;
  }

  .financialUpdate-forms-container h1 {
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    place-items: center;
  }

  .financialUpdate-forms-container h3 {
    font-weight: 400;
    margin-left: 1rem;
    margin-top: 3rem;
    color: #332117 !important;
  }

  .double-buttons-mov {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
  }

  .double-buttons-mov button {
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
    height: 40px;
  }

  .descricao-finUpdate {
    display: grid;
    justify-content: start;
    grid-template-columns: 2.5fr;
    margin: 0;
  }

  .descricao-countUpdate {
    margin-bottom: 12px;
    margin-left: 13px;
    font-size: 0.885rem;
    color: #332117;
  }
}

@media screen and (min-width: 1080px) {
  .bar-container-financialUpdate {
    display: grid;
    height: 100%;
    position: fixed;
  }

  .financialUpdate-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .financialUpdate-forms-container {
    margin: 1rem;
    width: 90%;
    display: inherit;
    justify-content: center;
    flex-direction: column;
  }

  .financialUpdate-forms-container button {
    width: 100%;
    margin-top: auto;
  }

  .financialUpdate-section-box {
    display: grid;
    justify-content: start;
    grid-template-columns: 0.5fr 0.5fr;
    margin: 0;
  }

  label {
    color: #332117 !important;
  }

  .financialUpdate-forms-container h1 {
    font-size: 34px;
    font-weight: 800;
    margin-bottom: -0.5rem;
    margin-top: 2rem;
  }

  .financialUpdate-forms-container h3 {
    font-weight: 400;
    margin-left: 1rem;
    margin-top: 3rem;
    color: #332117 !important;
  }

  .isEmailValid {
    font-weight: 400;
    margin-left: 1rem;
    margin-top: 10px;
    color: red !important;
  }

  .double-buttons-mov {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
  }

  .double-buttons-mov button {
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
    height: 40px;
  }

  .descricao-finUpdate {
    display: grid;
    justify-content: start;
    grid-template-columns: 2.5fr;
    margin: 0;
  }

  .descricao-countUpdate {
    margin-bottom: 12px;
    margin-left: 13px;
    font-size: 0.885rem;
    color: #332117;
  }
}
