@media screen and (max-width: 1080px) {
  .double-box h1 {
    font-size: 20px;
    font-weight: 800;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 1rem;
    margin-bottom: -1rem;
    color: #332117 !important;
  }
  .area-gastos h3 {
    font-size: 14px;
    color: #332117 !important;
  }
  .valor-gasto {
    text-align: right !important;
    margin-right: 0 !important;
    color: #332117 !important;
  }
  .pag-sind {
    text-align: center !important;
    color: #332117 !important;
  }
  .date-box-hc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
  .search-box-hc {
    display: grid;
    width: 100%;
    margin-top: 1rem;
    position: relative;
  }
}

@media screen and (min-width: 1080px) {
  .area-gastos h3 {
    font-size: 14px;
    color: #332117 !important;
    margin-top: 1rem;
    text-align: right !important;
    margin-right: 1rem !important;
  }

  .double-box h1 {
    font-size: 34px;
  }

  .valor-gasto {
    text-align: right !important;
    margin-right: 0 !important;
    color: #332117 !important;
  }

  .pag-sind {
    text-align: center !important;
    color: #332117 !important;
  }

  .date-box-hc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
  .search-box-hc {
    display: grid;
    width: 100%;
    margin-top: 1rem;
    position: relative;
  }
}
