@media screen and (max-width: 1080px) {
  .area-gastos h3 {
    font-size: 14px;
    color: #332117 !important;
  }
  .valor-gasto {
    text-align: right !important;
    margin-right: 0 !important;
    color: #332117 !important;
  }
  .pag-sind {
    text-align: center !important;
    color: #332117 !important;
  }
  .date-box-hc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  .title{
    text-align: center;
    margin: 0 auto;
    justify-content: center;  
    align-items: center;
    place-items: center;
    }

  .search{
    display: grid;
    width: 100%;
    margin-top: 1rem;
    position: relative;
  }

  .forms-container {
    margin: 3.5rem;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1080px) {
  .area-gastos h3 {
    font-size: 14px;
    color: #332117 !important;
    margin-top: 1rem;
    text-align: right !important;
    margin-right: 1rem !important;
  }

  .valor-gasto {
    text-align: right !important;
    margin-right: 0 !important;
    color: #332117 !important;
  }

  .pag-sind {
    text-align: center !important;
    color: #332117 !important;
  }

  .date-box-hc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  .title{
    text-align: center;
    margin: 0;
    justify-content: center; 
    align-items: center;
    place-items: center;
    }

  .search {
    display: grid;
    width: 100%;
    margin-top: 1rem;
    position: relative;
  }
}
