@media screen and (max-width: 1080px) {
  .area-gastos h3 {
    font-size: 14px;
    color: #332117 !important;
  }
}

@media screen and (min-width: 1080px) {
  .area-gastos h3 {
    font-size: 14px;
    color: #332117 !important;
    margin-top: 1rem;
    text-align: right !important;
    margin-right: 5rem !important;
  }

  .double-box h1 {
    font-size: 34px;
  }
}
