.user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   

}
/* index.css */
/* index.css */
.member-list .MuiListItem-root {
    display: flex;
    justify-content: space-between; /* Distribute space between children */
    align-items: center;
  }
  
  .member-list .MuiListItemText-root {
    flex: 1; /* Allow the text to take up available space */
  }
  
  .member-list .MuiCheckbox-root {
    margin-left: auto; /* Push checkbox to the right */
  }
  .button-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:1 black 10px;


}
  
  

 