.user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   

}
.read-only {
    pointer-events: none; /* Desativa todos os eventos de mouse */
  /* Reduz a opacidade para indicar que está desativado */
  }
  