.container{
    display: flex;
    font-family: 'Noto Sans';
    color: #341F14;
    

}
.profile-view{
    font-size: 34px; 
    font-weight: bold; 

}

.personal-data{
    font-size: 24px;

}
.campos-container{
    margin: 3.5rem;
    line-height: 2;
    height: 350px; 
    width: 100%;
    margin-top: 20rem;
    

    
    display: inherit;
    justify-content: center;
    flex-direction: column;
    
}
.section-campo{
    display: grid;
    grid-template-columns: 2.3fr 0f;
    color: #EAE3D7;
    margin-left: 0.8rem;
    font-size: 16px;

}
.section-campo input:disabled { 
    background-color: #EAE3D7; 
    border: 1px solid #EAE3D7; 
    border-top-left-radius: 5%; 
    border-top-right-radius: 5%;
    font-family: 'Overpass';
    font-size: 16px; 
    font-weight: thin;
}

.double-box{
    display: grid;
    grid-template-columns: 2.3fr 2.5fr;
    color: #EAE3D7;
    margin-left: 0.8rem;
    font-size: 16px;
}
.double-box input {
    background-color: #EAE3D7; 
    color: #000000; 
    border: 1px solid #EAE3D7; 
    border-top-left-radius: 5%; 
    border-top-right-radius: 5%; 
    font-family: 'Overpass';
    font-size: 16px; 
    font-weight: thin;
}


.profile-view{ 
    font-weight: bold;
    margin-bottom: 3rem;
    margin-top: -15rem;
}

.personal-data{
    font-weight: 400;
    margin-left: 1.5rem;
    margin-top: -2rem;
}

.profile-status{ 
    font-size: 18px; 
    font-weight: 600;
    font-size: medium;
    margin-left: 10rem;
    margin-top: 12rem;
}

.btn-logout{
    background-color: transparent;
    font-family: 'Noto Sans';
    font-size: 14px; 
    font-weight: 600;    
}

.section-doublebtn {
    display: flex;
    justify-content: space-between; 
    align-items: end; 
    gap: 30px;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
}
.section-doublebtn button {
    flex: 1;
    height: 44px;
}


.section-sector{
    display: grid;
    grid-template-columns: 2.3fr 0f;
    color: #DCD6CA;
    margin-left: 0.8rem;
    font-size: 16px;
    font-family: 'Overpass';

}
.section-sector input { 
    background-color: #DCD6CA; 
    color: #000000; 

    border: 1px solid #DCD6CA; 
    border-top-left-radius: 5%; 
    border-top-right-radius: 5%;
}