.container{
    display: flex;
}
.campos-container{
    margin: 3.5rem;
    line-height: 2;
    height: 350px; 
    width: 100%;
    
    display: inherit;
    justify-content: center;
    flex-direction: column;
}
.section-campo{
    display: grid;
    grid-template-columns: 2.3fr 0fr;

}
.double-box{
    display: grid;
    grid-template-columns: 2.3fr 2.5fr;

}