@media screen and (max-width: 1080px) {
}

@media screen and (min-width: 1080px) {
  .dash-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
  }
}
