@media screen and (max-width: 1080px) {
  .search {
    display: grid;
    width: 100%;
    height: 0%;
    margin-top: 0.5rem;
    position: relative;
  }

  .financialList-double-box {
    display: contents;
    font-size: 20px;
    color: #332117 !important;
    margin-left: 1.2rem;
    white-space: nowrap;
  }

  .financialList-double-box .MuiButton-root {
    margin-left: 1.2rem;
    margin-bottom: 0.5rem;
    width: 90%;
  }

  .title-fm {
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    margin: 4rem 1rem;
  }

  .date-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  .financialList-forms-container {
    display: grid;
    margin: 1vw;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1080px) {
  label {
    color: #332117 !important;
  }

  .financialList-container {
    display: flex;
    align-items: flex-start;
  }

  .search {
    display: grid;
    width: 100%;
    margin-top: 1rem;
    position: relative;
  }

  .financialList-forms-container {
    margin: 3.5rem;
    width: 80%;
    display: inherit;
    justify-content: center;
    flex-direction: column;
  }

  .financialList-double-box {
    display: grid;
    grid-template-columns: 2.3fr 2fr;
    font-size: 24px;
  }

  .financialList-double-box button {
    margin-left: 1rem;
    margin-right: 10px;
    width: auto;
    height: 44px;
  }

  .list-item {
    color: #332117 !important;
    margin-bottom: 4rem;
  }

  .date-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
}
