@media screen and (max-width: 1080px) {
  .container-financialist {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  label {
    color: #332117 !important;
  }

  .double-box-financialList {
    display: contents;
    font-size: 20px;
    color: #332117 !important;
    margin-left: 1.2rem;
    white-space: nowrap;
  }

  .double-box-financialList .MuiButton-root {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    width: 90%;
  }

  .list-item-financialList {
    padding: 0.5rem;
    margin-top: 1rem !important;
  }

  .search-box-financialList {
    display: grid;
    width: 100%;
    margin-top: 1rem;
    position: relative;
  }

  .forms-container-financialList h1 {
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    place-items: center;
    margin-top: 2rem;
  }

  .forms-container-financialList {
    margin: 1rem;
    width: 90%;
    display: inherit;
    justify-content: center;
    flex-direction: column;
  }

  .forms-container-financialList button {
    width: 100%;
    align-self: center;
    margin: 5px 5px;
  }

  .date-box-financialList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
}

@media screen and (min-width: 1080px) {
  .bar-container-financialList {
    display: flex;
    height: 100%;
    position: fixed;
  }

  label {
    color: #332117 !important;
  }

  .container-financialist {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .forms-container-financialList {
    margin: 1rem;
    width: 90%;
    display: inherit;
    justify-content: center;
    flex-direction: column;
  }

  .section-form-financialList {
    display: flex;
    grid-template-columns: 1fr;
  }

  .search-box-financialList {
    display: grid;
    width: 100%;
    margin-top: 1rem;
    position: relative;
  }

  .double-box-financialList {
    display: grid;
    grid-template-columns: 2.3fr 2fr;
    font-size: 24px;
  }

  .double-box-financialList button {
    margin-left: 1rem;
    margin-right: 10px;
    width: auto;
    height: 44px;
  }

  .date-box-financialList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  .forms-container-financialList h1 {
    font-size: 34px;
    font-weight: 800;
    margin-bottom: -0.5rem;
    margin-top: 2rem;
  }

  .list-item-financialList {
    color: #332117 !important;
    margin-top: 2rem !important;
  }

  .double-box-financialList .MuiButton-root {
    margin-left: 1rem;
    margin-right: 10px;
    width: auto;
    height: 44px;
    margin-top: 2rem;
  }
}
