@media screen and (max-width: 1080px) {
   
    .listContainer {
        display: flex;
    }

    .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 3rem;
    }
    

    .list .header{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2rem 0px ;
        box-sizing: content-box;
        
    }

   .list  .search {
        display: flex;
        width: 100%;
        margin-top: 1rem;
        position: relative;

        
    }
    .result {
        border-bottom: 1px solid #ddd; 
        padding: 8px 0;
    }
}


@media screen and (min-width:1081px){
    .listContainer {
        display: flex;
    }

    .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 3rem;
    }
    

    .list .header{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

   .list  .search {
        display: flex;
        width: 100%;
        margin-top: 1rem;
        position: relative;

        
    }
    .result {
        border-bottom: 1px solid #ddd; 
        padding: 8px 0;
    }
}