@media screen and (max-width: 1080px) {
    .listContainer {
        display: block;
    }

    .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        margin: .5rem;
    }

    .header{
        width: 100%;
        
        display: grid;
        margin-top: 1rem;
        grid-template-columns: 1fr;

    }

    .search{
        margin-top: 2rem;
        width: 400px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
}


@media screen and (min-width:1081px){
    .listContainer {
        display: flex;
    }

    .list {
        display: block;
        width: 100%;
        
        margin: 3rem;
    }

    .header{
        width: 100%;
        
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .search{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}