.side-bar {
    background-color: #EAE3D7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 380px;
    height: 100vh;
    padding: 85px;
}

.logo {
    width: 107px;
    height: 107px;
}

.sentinela { 
    margin-top: 6px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 45px;
    font-weight: 900; /* Black */
    color: #AE883C;
}

.menu-lateral {
    margin-top: 50px;
}