@media screen and (max-width: 1080px) {
  .container {
    display: grid;
    flex-direction: row;
    height: unset;
  }

  label {
    color: #332117 !important;
  }
  .forms-container {
    display: grid;
    margin: 1vw;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2rem;
    height: unset;
  }
  .perfil-radiogroup {
    margin: 10vw;
  }
  .double-box-fin {
    display: contents;
    grid-template-columns: 0.5fr 0.5fr;
  }
  .double-buttons {
    display: contents;
    width: 100%;
    grid-template-columns: 0.5fr 0.3fr;
  }

  .forms-container h1 {
    font-size: 20px;
    font-weight: 800;
    margin-left: 8px;
    margin-right: 50px;
    margin-top: 1rem;
    margin-bottom: -1rem;
    color: #332117 !important;
  }

  .forms-container h3 {
    font-weight: 400;
    margin-left: 1rem;
    margin-top: 3rem;
    color: #332117 !important;
  }

  .descricao-fin {
    display: grid;
    justify-content: start;
    grid-template-columns: 2.5fr;
    margin: 0;
  }
  .forms-container button {
    width: 98%;
    align-self: center;
    /* margin-bottom: 20px !important;*/
  }

  .descricao-count {
    /* margin-bottom: 12px;*/
    margin-left: 13px;
    font-size: 0.885rem;
    color: #332117;
  }
}

@media screen and (min-width: 700px) {
  .container {
    display: flex;
  }
  .profile-status {
    font-size: 18px;
    font-weight: 600;
    font-size: medium;
    margin-left: 8rem;
    margin-top: 12rem;
  }
  .forms-container {
    margin: 5rem;
    width: 100%;
    display: inherit;
    justify-content: center;
    padding-bottom: 5rem;
    flex-direction: column;
  }

  .perfil-radiogroup {
    margin: 2vw;
  }
  .forms-container > button {
    width: 98%;
    align-self: center;
  }

  .double-box-fin {
    display: grid;
    justify-content: start;
    grid-template-columns: 0.5fr 0.5fr;
    margin: 0;
  }

  label {
    color: #332117 !important;
  }

  .forms-container > h1 {
    font-weight: 800;
    margin-top: 10rem;
    color: #332117 !important;
    margin-left: -3px !important;
  }

  .forms-container h3 {
    font-weight: 400;
    margin-left: 1rem;
    margin-top: 3rem;
    color: #332117 !important;
  }
  .isEmailValid {
    font-weight: 400;
    margin-left: 1rem;
    margin-top: 10px;
    color: red !important;
  }

  .descricao-fin {
    display: grid;
    justify-content: start;
    grid-template-columns: 2.5fr;
    margin: 0;
  }

  .descricao-count {
    /*margin-bottom: 12px;*/
    margin-left: 13px;
    font-size: 0.885rem;
    color: #332117;
  }
}
