@media screen and (min-width:700px) {
    .forms-container-list {
        margin: 5rem;
        width: 100%;
        display: inherit;
        justify-content: center;
        flex-direction: column;
      }

    .container{
        display: flex;
    }
    .double-box-list {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .double-box-list button {
        width: 400px;
        margin-bottom: 10px;
        bottom: 50px;
    }
}

@media (max-width: 1080px) {
    .container{
        display: inherit;
        align-items: center;
    }
    .forms-container-list{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .double-box-list{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    h1{
        text-align: center;
    }
}